ENVIRONMENT="development"

SITE_URL="http://localhost:3000"

GOOGLE_SERVICE_KEY_B64=""
BIGQUERY_DATASET=""
BIGQUERY_LOCATION="EU"

NEXT_PUBLIC_ANALYTICS_SCRIPT=""
NEXT_PUBLIC_ANALYTICS_ID=""

ALLOWED_BOTS=''

SUBFINDER_BIN=""
SUBFINDER_MAX_CONCURRENT="3"
SUBFINDER_ALL_SOURCES="false"

NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET=""

INDEXNOW_KEY=""
